<h1>Descriptions for web scraping:</h1>
<div class="well col-md-3">
  <form action="/descript" method="POST">
    <p>This action will retrieve descriptive data from the metatags for all pages found in the previous web scrape.</p>
    <button type="submit">Get Descriptions</button>
  </form>
</div>