<h1>Descriptions for web scraping:</h1>
<div class="well col-md-3">
  <form action="/descript" method="POST">
  <label>Keyword 1:</label>
    <input type="text" name="descs[desc1]" />
   <label>Keyword 2:</label>
    <input type="text" name="descs[desc1]" />
   <label>Keyword 3:</label>
    <input type="text" name="descs[desc1]" />
    <button type="submit">Submit</button>
  </form>
</div>