<form action="/descript" method="POST">
  <input type="text" name="descs[desc1]" />
  <input type="text" name="descs[desc2]" />
  <input type="text" name="descs[desc3]" />
  <button type="submit">Submit</button>
</form>