<h1>Links for web scraping:</h1>
<div class="well col-md-3">
  <form action="/links" method="POST">
  <label>Keyword 1:</label>
    <input type="text" name="links[link1]" />
    <button type="submit">Submit</button>
  </form>
</div>