<form action="/getlinks" method="POST">
  <input type="text" name="links[link1]" />
  <input type="text" name="links[link2]" />
  <input type="text" name="links[link3]" />
  <button type="submit">Submit</button>
</form>