<h1>Keywords for web scraping:</h1>
<div class="well col-md-3">
  <form action="/" method="POST">
  <label>Keyword 1:</label>
    <input type="text" name="words[keyword1]" />
   <label>Keyword 2:</label>
    <input type="text" name="words[keyword2]" />
   <label>Keyword 3:</label>
    <input type="text" name="words[keyword3]" />
    <button type="submit">Submit</button>
  </form>
</div>