<form action="/" method="POST">
  <input type="text" name="words[keyword1]" />
  <input type="text" name="words[keyword2]" />
  <input type="text" name="words[keyword3]" />
  <button type="submit">Submit</button>
</form>