  <div class="hero-unit">
        <h1>DHC Knight Project: Dance Criticism Web Scraper</h1>
        <p>DHC is creating a fully searchable subject-specific online site that will present dance writing and link it to streaming videos of related dance works. By linking direct documentation of performances with context and critical viewpoints, DHC will help save the lively conversations that surround and support the creation of dance and other arts.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

<div class="row">
        <div class="span4">
          <h2>Find websites</h2>
          <p>Search for websites by keywords</p>
          <p><a class="btn" href="/scrape">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Find links</h2>
          <p>Find related links from selected websites</p>
          <p><a class="btn" href="/getlinks">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Archive a page</h2>
          <p>Request archiving for a specific URL and/or article</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
       <hr>